.banner {
	height: 223px;
	width: 100%;
	position: relative;

	@media (max-width: $reponsive-sm) {
		height: 110px;
	}

	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
		border-radius: $border-radius;
	}

	span {
		display: block;
		position: absolute;
		word-wrap: break-word;
		overflow-wrap: break-word;
		white-space: normal;
		top: 50%;
		left: 50%;
		margin: auto;
		transform: translate(-50%, -50%);
		color: $white-color;
		font-weight: bold;
		font-size: 48px;
		line-height: 68.45px;
		width: max-content;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

		@media (max-width: 1000px) {
			font-size: 36px;
		}

		@media (max-width: $reponsive-sm) {
			top: 50%;
			left: 0;
			transform: translate(15%, -50%);
			font-size: 24px;
			line-height: 24px;
		}
	}
}
