.carrousel {
	width: 100%;
	height: 415px;
	border-radius: $border-radius;
	position: relative;

	@media (max-width: $reponsive-sm) {
		height: 255px;
	}

	img {
		object-fit: cover;
		border-radius: $border-radius;
		width: 100%;
		height: 100%;
	}

	.carrousel__prev,
	.carrousel__next,
	.carrousel__pagination {
		position: absolute;
	}

	.carrousel__pagination {
		bottom: 15px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 18px;
		text-align: center;
		line-height: 25.67px;
		color: $white-color;
		font-weight: 500;

		@media (max-width: $reponsive-sm) {
			display: none;
		}
	}

	.carrousel__arrow {
		width: 46.68px;
		height: 79.2px;
		top: 40%;

		&:hover {
			cursor: pointer;
		}

		@media (max-width: $reponsive-sm) {
			width: 24px;
			height: 24px;
		}
	}

	.carrousel__next {
		right: 0;
		margin-right: 15px;
	}

	.carrousel__prev {
		left: 0;
		margin-left: 10px;
		transform: rotate(180deg);
	}
}
